@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

@font-face {
    font-family: 'Larsseit';
    src: local('Larsseit Bold'), local('Larsseit-Bold'),
        url('Fonts/Larsseit-Bold.woff2') format('woff2'),
        url('Fonts/Larsseit-Bold.woff') format('woff'),
        url('Fonts/Larsseit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Larsseit';
    src: local('Larsseit ExtraBold'), local('Larsseit-ExtraBold'),
        url('Fonts/Larsseit-ExtraBold.woff2') format('woff2'),
        url('Fonts/Larsseit-ExtraBold.woff') format('woff'),
        url('Fonts/Larsseit-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Larsseit';
    src: local('Larsseit Light'), local('Larsseit-Light'),
        url('Fonts/Larsseit-Light.woff2') format('woff2'),
        url('Fonts/Larsseit-Light.woff') format('woff'),
        url('Fonts/Larsseit-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Larsseit';
    src: local('Larsseit Regular'), local('Larsseit-Regular'),
        url('Fonts/Larsseit.woff2') format('woff2'),
        url('Fonts/Larsseit.woff') format('woff'),
        url('Fonts/Larsseit.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }



  /*Keyframes*/

  @keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
  }

@keyframes transitionIn {

    0% { opacity: 0; 
        transform: rotateX(-10deg);
  }
  
    30% { opacity: 0; 
          transform: rotateX(-10deg);
        } 
  
    100% {
        opacity: 1; 
        transform: rotateX(0);
    } 
  }



/*Home page*/
    /*Body*/


body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    padding: 0px;
    
}

body, html {
    height: 100%;
  }
  

.bg {
    background: url("../images/background.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

li {
    list-style: none;
}

/*Headings*/

h1 {
    font-size: 40px;
    font-weight: 800; 
    line-height: 1.5;
    color: #38665D;
}

h2 {
    line-height: 1.5;
    color: #38665D;
    padding:0;
    margin:0;
}

h3 {
    color: #38665D;
    padding:0;
    margin:0;
}

h4 {
    color: #38665D;
    padding:0;
    margin:0;
}

h5 {
    padding:0;
    margin:0;
    color: #38665D;
}


p {
    font-weight: 300;
    line-height: 1.4;
}

.heading {
    text-align: center;
    padding: 10vw 0 4vw;
}

    /*Header*/
        /*Navigation Bar*/



.header a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    
}

.header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4vh;
    animation: 1s ease-out 0s 1 slideInFromTop;
}

.header-about a {
    text-decoration: none;
    color: #38665D;
    font-weight: 600;
    margin: 0;
    padding: 0;

}

.header-about {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4vh;
    animation: 1s ease-out 0s 1 slideInFromTop;
}

.Logo {
    width: 15%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.Logo img {
    width: 8vw;
}


.NavigationBar {
    width: 85%;
    height: 100%;
}

.MenuTop {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.MenuTop li {
    margin: 0% 4%;
}



    /*Main Body*/
    /*General Infomation*/

.GeneralInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: transitionIn 2s ease-in;
}
#InfoL {
    width: 50%;
    margin-left: 10vw;
}

#InfoR {
    width: 75%;
}

.Information a {
    text-decoration: none;
}

.Information p {
    padding-right: 5vw;
}

.Information img {
    width: 70%;
}

.green-button {
   
    background-color:#38665D;
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    letter-spacing: 1.6px;
}

.green-button:hover {
    background-color: #1f4f46;
  }



  /*Features Information*/

.FeaturesInfo{
    display: flex;
    justify-content: space-around;
    margin: 5vw 10vw;
}

.FeaturesInfo img {
    width: 12vw;   
}

.Feature {
    padding: 5vw;
}



/*for javascript animation on scroll*/

.inline-photo {
    opacity: 0;
    transform: translateY(2em) rotateZ(0deg);
    transition: transform 3s .25s cubic-bezier(0,1,.3,1),
                opacity .2s .25s ease-out;
    width: 90%;
    will-change: transform, opacity; 
  }
  
  .inline-photo.is-visible {
    opacity: 1;
    transform: rotateZ(0deg);
  }
  




 /*Footer*/

 footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25vh;
    background-color: #38665D;
    text-align: center;
    color: white;
  }
  
  footer img {
    height: 30px;
    padding: 2vw;
  }
  
  .footer-icons {
    display: flex;
    justify-content: center;
  }





 /*sign up and sign in pages*/



 .SignUp{
     height: 90vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

.SignUpBox{
    width: 40vw;
    height: 65vh;
    background-color: #E2EDE6;
    border-radius: 3%;
    margin-bottom: 10%;
}
.container{
    height: 70%;
    display: flex;
    flex-direction: column;
    padding: 10% 20%;
}
input[type=text], input[type=password]{
    width: 100%;
    padding: 3%;
    margin: 2% 0% 5% 0%;
    border: none;
    border-radius: 50px;
    background: #FFFFFF;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #f5f5f5;
    outline: none;
}

.sign-up-suggest {
    position: relative;
    left: 30%;
    
}

.sign-up-suggest a {
    color: #38665D;
}




 /*Team page*/
        /*Members*/
.teamMembers{
     display: flex;
     justify-content: space-around;
     margin-top: 10%;
     margin-bottom: 10%;
     padding: 0px 15%;
}

.Member img{
     width: 200px;
}



/*user page navigation bars*/

.side-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #38665D;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .side-nav li a {
    display: block;
    color: white;
    padding: 3.5vh 7vh;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
  }

  .logo-white {
    width: 15%;
    height: 100%;
}

 .logo-white img {
    padding: 4vh 4vh 20vh 5vh;
    width: 8vw;
}

.small-icon {
    width: 10px;
    margin-right: 15px;
}

.top-nav-user ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  .top-nav-user li {
    float: right;
  }
  
  .top-nav-user li a {
    display: block;
    text-align: center;
    color: #38665D;
    font-weight: 600;
    padding: 4vh;
    text-decoration: none;
  }




/*user page body*/

.profile-pages {
    background-color: #F7F7F7;
}

.profile-top {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 5% 10% 0 25%;
}

.profile-top img {
    width: 7vw;
}

.grid-container {
    display: grid;
    margin: 3% 10% 0 25%;
    padding-bottom: 40vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4%;
    align-items: center;
    justify-content: center;
}

.grid-container h4 {
    padding: 1.5vw;
}

.grid-container h3 {
    padding: 1.5vw;
}

.grid-container h1 {
   text-align: center;
   margin:0;
}

.grid-container img {
    position: relative;
    left: 40%;
}

.grid-container p {
    padding: 0 1.5vw;
    margin: 0;
}


.grid-container div {
    
    height: 50vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    
}


/*shop info page*/

.stores-heading {
    display: flex;
    flex-direction: column;
    margin: 3% 10% 3% 25%;
}

.store-categories {
    display: flex;
}

.store-categories h5 {
    padding: 2vw 4vw 0 0;
}


/* guide page */

.guide-body {
    margin: 3% 10% 0 25%;
}

.guide-heading {
    display: flex; 
    flex-direction: column;
}

.guide-heading p {
    padding-right: 10vw;
}

.guide-grid {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10vh;
    grid-column-gap: 4vh;
    margin-top: 10vh;
}

.guide-grid img {
    width: 60%;
    padding-left: 4vw;
}

.guide-grid p {
    padding-right: 5vw;
}

.horizontal-menu {
    display: flex;
    margin: 0;
    padding: 0;
}

.horizontal-menu li {
    padding: 0 4vw 2vw 0;
    font-weight: 600;
    color: #38665D;
}

/* help page */


.help-body {
    margin: 8% 10% 0 25%;
}

.help-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.FAQ p {
    font-weight: 600; 
    line-height: 2;
    color: #38665D;
}

.form-control {
    font-family: 'Open Sans';
    width: 20vw;
    padding: 15px;
    margin: 15px 0;
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.contact-form {
    
    border-radius: 30px;
    margin-top: 3vh;
}

#text-area {
    font-family: 'Open Sans';
    width: 20vw;
    height: 20vh;
    padding: 15px;
    margin: 15px 0;
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}




/* tutorial page */ 

.footer-tutorial {
    margin-top: 30vh;
}

.tabContainer {
    
    width: 30vw;
    padding: 15px;
    text-align: center;
    position: relative; 
    left: 32%;
  }

  .tabs {
    display: none;
  }

  .tabs>ul {
    font: 1em;
    list-style: none;
  }

  .tabs>ul>li {
    margin: 0 2px 0 0;
    padding: 7px 10px;
    display: block;
    float: left;
    color: #333;
    user-select: none;
    background: #FFFFFF;
    border: 1px #ccc solid;
  }

  .tabscontent {
    padding: 10px 10px 25px;
    background: #FFFFFF;
    margin: 0;
  }

  .gototab button{
    background: #38665D;
    font-family: 'Open Sans', sans-serif;
    border: none;
    color: #fff;
    border-radius: 20px;
    padding: 10px 28px;
    width: 15vw;
    text-align: center;
    text-decoration: none;
    text-align: center;
    margin: 20px;
    font-size: 12px;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    letter-spacing: 1.6px;
  }

  .gototab button:hover {
    background-color: #1f4f46;
  }

  .tutorial-img {
      width: 80%;
  }

  .progress-bar {
      width: 6vw;
  }



  /*allt sem ég bæti við*/

 .task-button {
     margin-top: 10vh;
 }

 #rewards-section img {
     width:40px;
 }

 

  
  
  
  
  





