/*Home page*/
    /*Body*/
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

    /*Header*/

header a{
    text-decoration: none;
    color: white;
}
.header{
    background-color: #005461;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.Logo{
    font-size: 40px;
    margin-left: 25px;
}

            /*Menu Navigation bar*/
.Menu {
    display: flex;
    list-style: none;
    font-size: 20px;
    margin-right: 80px;
}
.Menu li a{
    display: block;
    margin-left: 50px;
}

    /*Main Body*/
            /*General Infomation*/

.GenInfo{
    display: flex;
    background-color: #6FD2BD;
    justify-content: space-between;
    padding: 30px;
    text-align: center;
    align-items: center;
}
.Info{
    width: 50%;
}
.Info h1{
    font-size: 40px;
}
.Info p{
    font-size: 25px;
}
.Info a{
    color: honeydew;
    text-decoration: none;
    font-size: 20px;
    background-color: #005461;
}
.Info img{
    width: 500px;
}

            /*Features Information*/
.FeatureInfo{
    display: flex;
    background-color: honeydew;
    justify-content: space-around;
    padding: 30px;
}

.Feature{
    text-align: center;
    color: black;
}
.Feature img{
    width: 150px;
}

 /*Footer Body*/
 footer{
     background-color: #6FD2BD;
     text-align: center;
 }

 /*Team page*/
        /*Members*/

 .teamMembers{
     display: flex;
     justify-content: space-around;
     margin-top: 170px;
     padding: 0px 15%;
 }

 .Member img{
     width: 200px;
 }

 #UserPage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
}

.MenuBar{
    width: 15%;
    height: calc(100vh - 10%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: gray;

}
